body{
    margin: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.box{
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    width: 20%;
    height: 100vh;
    text-align: center;
}

a{
    display: block;
    text-decoration: none;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    color: white;
    
}

li:first-child{
    background-color: green;
    
}

.contain{
    background-color: gray;
    width: 80%;
    margin-left: 20%;
    padding: 20px;
}

p{
    padding: 0%;
    margin: 0;
}

a:hover{
    background-color: rgb(72, 72, 72);
}