body{
    background-color: gray;
}
.main{
    width: 100%;
    height: 400px;
    margin: auto;
}

.main1{
    position: relative;
    overflow: hidden;
    float: left;
    font: optional;
    width: 23%;
    height: 100%;
    margin: 0px 1%;
    background-color: rgb(48, 48, 48);
    border-radius: 20px;
    color: rgb(181, 179, 179);
    transition: 0.5s;
    
}

.main1:hover{
    box-shadow: 2px 2px 3px black, -2px -2px 3px black;
}

.b{
    width: 100%;
    height: 60%;
    object-fit: cover;

}

img{
    width: 100%;
    height: 100%;
    
}

.heading{
    margin: 5px 20px 5px 10px;
    padding: 0px;
}

.paragrah{
    margin: 5px 20px 5px 10px;
    padding: 0px;
}

.more{
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 70px;
    height: 20px;
    background-color: gray;
    text-decoration: none;
    color: white;
    text-align: center;
    border-radius: 10px;
    
}