body{
    margin: 0;
}

ul{
    position: fixed;
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(45, 45, 45);
}

li{ float: left;
    padding: 20px;
    
}

li:hover {
    background-color: gray;

}

a{
    text-decoration: none;
    color: white;
}
::placeholder{
    color: red;
}

input{
    border: none;
    border-radius: 10px;
    background-color: gray;
    padding: 12px;
}
i{
    background-color: red;
 
}
li:last-child{
    float: right;
}