body{
    margin: 0;
    padding: 0px 20px 0px 20px;
    background-color: rgb(126, 126, 126);
    background-image: url(IMGCSS/R\ \(1\).jfif);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.box1{
    width: 100%;
    height: 100vh;
    margin-top: 0;
    
}


.content1{
    font-size: 24px;
    color: white;
}

h1{
    color: white;
    font-size: 32px;
}